<a href="https://colab.research.google.com/github/Arjungowda06/Data_Analytics/blob/main/Personal_Loan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv('/content/FAD.csv')
df.head()

,user_id,age,gender,education_level,employment_status,job_title,monthly_income_usd,monthly_expenses_usd,savings_usd,has_loan,loan_type,loan_amount_usd,loan_term_months,monthly_emi_usd,loan_interest_rate_pct,debt_to_income_ratio,credit_score,savings_to_income_ratio,region,record_date
0,U00001,56,Female,High School,Self-employed,Salesperson,3531.69,1182.59,367655.03,No,NaN,0.00,0,0.00,0.00,0.00,430,8.68,Other,09-01-2024
1,U00002,19,Female,PhD,Employed,Salesperson,3531.73,2367.99,260869.10,Yes,Education,146323.34,36,4953.50,13.33,1.40,543,6.16,North America,13-02-2022
2,U00003,20,Female,Master,Employed,Teacher,2799.49,1003.91,230921.21,No,NaN,0.00,0,0.00,0.00,0.00,754,6.87,Africa,12-05-2022
3,U00004,25,Male,PhD,Employed,Manager,5894.88,4440.12,304815.51,Yes,Business,93242.37,24,4926.57,23.93,0.84,461,4.31,Europe,02-10-2023
4,U00005,53,Female,PhD,Employed,Student,5128.93,4137.61,461509.48,No,NaN,0.00,0,0.00,0.00,0.00,516,7.50,Africa,07-08-2021

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32424 entries, 0 to 32423
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   user_id                  32424 non-null  object
 1   age                      32424 non-null  int64
 2   gender                   32424 non-null  object
 3   education_level          32424 non-null  object
 4   employment_status        32424 non-null  object
 5   job_title                32424 non-null  object
 6   monthly_income_usd       32424 non-null  float64
 7   monthly_expenses_usd     32424 non-null  float64
 8   savings_usd              32424 non-null  float64
 9   has_loan                 32424 non-null  object
 10  loan_type                12995 non-null  object
 11  loan_amount_usd          32424 non-null  float64
 12  loan_term_months         32424 non-null  int64
 13  monthly_emi_usd          32424 non-null  float64
 14  loan_interest_rate_pct   32424 non-null  float64
 15  debt_to_income_ratio     32424 non-null  float64
 16  credit_score             32424 non-null  int64
 17  savings_to_income_ratio  32424 non-null  float64
 18  region                   32424 non-null  object
 19  record_date              32424 non-null  object
dtypes: float64(8), int64(3), object(9)
memory usage: 4.9+ MB

In [ ]:
df.describe()

,age,monthly_income_usd,monthly_expenses_usd,savings_usd,loan_amount_usd,loan_term_months,monthly_emi_usd,loan_interest_rate_pct,debt_to_income_ratio,credit_score,savings_to_income_ratio
count,32424.000000,32424.000000,32424.000000,3.242400e+04,32424.000000,32424.000000,32424.000000,32424.000000,32424.000000,32424.000000,32424.000000
mean,43.415865,4027.863185,2419.444709,2.437520e+05,100114.735992,58.500000,3092.992339,6.616332,1.194881,575.260424,5.045431
std,14.978246,1916.773353,1388.893084,1.915772e+05,152536.588635,104.865373,6478.939776,9.472964,3.761964,159.023227,2.851344
min,18.000000,500.000000,150.010000,6.359600e+02,0.000000,0.000000,0.000000,0.000000,0.000000,300.000000,0.100000
25%,30.000000,2657.795000,1397.497500,8.629155e+04,0.000000,0.000000,0.000000,0.000000,0.000000,437.000000,2.580000
50%,43.000000,3997.740000,2219.575000,2.017003e+05,0.000000,0.000000,0.000000,0.000000,0.000000,575.000000,5.040000
75%,56.000000,5351.607500,3254.037500,3.589662e+05,189499.070000,60.000000,3574.567500,13.140000,0.920000,714.000000,7.510000
max,69.000000,12404.050000,10082.710000,1.237774e+06,499954.750000,360.000000,47723.840000,30.000000,90.670000,850.000000,10.000000

In [ ]:
df.drop([]'monthly_expenses_usd',axis=1,inplace=True)

KeyError: "['monthly_expenses_usd'] not found in axis"

In [ ]:
df

,user_id,age,gender,education_level,employment_status,monthly_income_usd,has_loan,loan_type,loan_amount_usd,loan_term_months,monthly_emi_usd,loan_interest_rate_pct,debt_to_income_ratio,credit_score,savings_to_income_ratio,region,record_date
0,U00001,56,Female,High School,Self-employed,3531.69,No,NaN,0.00,0,0.00,0.00,0.00,430,8.68,Other,09-01-2024
1,U00002,19,Female,PhD,Employed,3531.73,Yes,Education,146323.34,36,4953.50,13.33,1.40,543,6.16,North America,13-02-2022
2,U00003,20,Female,Master,Employed,2799.49,No,NaN,0.00,0,0.00,0.00,0.00,754,6.87,Africa,12-05-2022
3,U00004,25,Male,PhD,Employed,5894.88,Yes,Business,93242.37,24,4926.57,23.93,0.84,461,4.31,Europe,02-10-2023
4,U00005,53,Female,PhD,Employed,5128.93,No,NaN,0.00,0,0.00,0.00,0.00,516,7.50,Africa,07-08-2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32419,U32420,30,Female,High School,Employed,4266.87,Yes,Car,498400.74,120,6227.54,8.68,1.46,434,5.34,Europe,25-02-2024
32420,U32421,51,Female,Master,Employed,5725.78,Yes,Home,83602.57,12,7605.13,16.50,1.33,453,0.25,North America,06-06-2025
32421,U32422,18,Female,Bachelor,Self-employed,3282.38,No,NaN,0.00,0,0.00,0.00,0.00,391,0.56,Other,20-07-2025
32422,U32423,36,Other,High School,Self-employed,5035.99,No,NaN,0.00,0,0.00,0.00,0.00,596,8.67,Asia,07-06-2022
32423,U32424,39,Female,Master,Employed,4410.19,No,NaN,0.00,0,0.00,0.00,0.00,689,3.34,North America,01-08-2023

In [ ]:
df['date']=df['record_date'].str.split('/').str[0]
df['month']=df['record_date'].str.split('/').str[1]
df['year']=df['record_date'].str.split('/').str[2]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32424 entries, 0 to 32423
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   user_id                  32424 non-null  object
 1   age                      32424 non-null  int64
 2   gender                   32424 non-null  object
 3   education_level          32424 non-null  object
 4   employment_status        32424 non-null  object
 5   monthly_income_usd       32424 non-null  float64
 6   has_loan                 32424 non-null  object
 7   loan_type                12995 non-null  object
 8   loan_amount_usd          32424 non-null  float64
 9   loan_term_months         32424 non-null  int64
 10  monthly_emi_usd          32424 non-null  float64
 11  loan_interest_rate_pct   32424 non-null  float64
 12  debt_to_income_ratio     32424 non-null  float64
 13  credit_score             32424 non-null  int64
 14  savings_to_income_ratio  32424 non-null  float64
 15  region                   32424 non-null  object
 16  record_date              32424 non-null  object
 17  date                     32424 non-null  object
 18  month                    0 non-null      float64
 19  year                     0 non-null      float64
dtypes: float64(8), int64(3), object(9)
memory usage: 4.9+ MB

In [ ]:
df['record_date'] = pd.to_datetime(df['record_date'], format='%d-%m-%Y', errors='coerce')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32424 entries, 0 to 32423
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   user_id                  32424 non-null  object
 1   age                      32424 non-null  int64
 2   gender                   32424 non-null  object
 3   education_level          32424 non-null  object
 4   employment_status        32424 non-null  object
 5   monthly_income_usd       32424 non-null  float64
 6   has_loan                 32424 non-null  object
 7   loan_type                12995 non-null  object
 8   loan_amount_usd          32424 non-null  float64
 9   loan_term_months         32424 non-null  int64
 10  monthly_emi_usd          32424 non-null  float64
 11  loan_interest_rate_pct   32424 non-null  float64
 12  debt_to_income_ratio     32424 non-null  float64
 13  credit_score             32424 non-null  int64
 14  savings_to_income_ratio  32424 non-null  float64
 15  region                   32424 non-null  object
 16  record_date              32424 non-null  datetime64[ns]
 17  date                     32424 non-null  object
 18  month                    0 non-null      float64
 19  year                     0 non-null      float64
dtypes: datetime64[ns](1), float64(8), int64(3), object(8)
memory usage: 4.9+ MB